<div>
    <a href="/dashboard/categories">
        <button class="btn btn-success">Categories</button>
    </a>
</div>

<div>
    <a href="/dashboard/posts">
        <button class="btn btn-success mt-2">Posts</button>
    </a>
</div>