<div class="card">
    <div class="card-body">
        <h3>{{post.title}}</h3>
        <hr>
        <small>Published in {{dateFormat post.date}}</small>
        <br>
        <h7>Category: {{post.category.name}}</h7>
        <hr>
        <p>{{post.content}}</p>
    </div>
</div>