<h2>Categories:</h2>
<hr>
{{#each categories}}
    <a href="/api/categories/{{slug}}">
        <div class="card mt-4 mb-4">
            <div class="card-body">
                <h4>{{name}}</h4>
            </div>
        </div>
    </a>
{{else}}
    <h4>No categories found!</h4>
{{/each}}